{{!< default}}

<div class="content-area">
    <main class="site-main">
        <div class="post-feed">
            {{#get "posts" include="tags,authors" filter="tags:-translation" limit=@config.posts_per_page}}
                {{#foreach posts}}
                    {{> "loop"}}
                {{/foreach}}
            {{/get}}
        </div>
        {{pagination}}
    </main>
</div>