{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#get "posts" include="tags,authors" filter="tags:-translation" limit=@config.posts_per_page page=pagination.page as |posts pagination| }}
            <div class="post-feed">
                {{#foreach posts}}
                    {{> "loop"}}
                {{/foreach}}
            </div>
            {{pagination}}
        {{/get}}
    </main>
</div>
